
Django==4.1.7
django-attachments==1.9.1
django-colorfield==0.8.0
django-contrib-comments==2.2.0
django-extensions==3.2.1
django-grappelli==3.0.4
django-guardian==2.4.0
django-modern-rpc==0.12.1
django-ranged-response==0.2.0
django-simple-captcha==0.5.17
django-simple-history==3.2.0
django-tree-queries==0.14.0
django-uuslug==2.0.0
django-vinaigrette==2.0.1

tcms-api
kiwitcms-junit-xml-plugin
kiwitcms-pytest-plugin
kiwitcms==12.0
kiwitcms-tap-plugin==11.3

ptyprocess==0.7.0
py==1.11.0
pycparser==2.21
PyGithub==1.57
Pygments==2.14.0
# PyGObject==3.42.1
PyJWT==2.6.0
pymacaroons
PyNaCl
pynose
pyOpenSSL
pyotp
pyparsing
pyRFC3339
PySocks
pytest
pytest-forked
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-tap
pytest-xdist
python-apt
python-bugzilla
python-dateutil
python-debian
python-gitlab
python-redmine
python-slugify
pytz
pyxdg
PyYAML

selenium==4.8.2
seleniumbase==4.13.7

tap.py==3.1

